.posts {
  @include adaptive-value('margin-bottom', 150, 80);

  &__header {
    margin-bottom: rem(35);
  }

  &__title {
    margin-bottom: rem(8);
  }

  &__descr {
    margin: 0;
    font-weight: 500;
    line-height: 150%;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(20);

    @media (max-width: $breakpoint1024) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint640) {
      grid-template-columns: 1fr;
    }
  }
}
