section.faq
  .container
    .faq__header
      h2.h2-title.faq__title Frequently asked question
      p.faq__descr
        | Something is not clear? You need help?
        | Check our FAQ section
    .faq__accordion
      .faq__accordion-item
        .faq__accordion-label
          | What are my payment option?
        .faq__accordion-content
          | Lorem ipsum dolor sit amet consectetur, adipisicing
          | elit. Quibusdam nesciunt officiis sed. Reiciendis
          | eveniet beatae quos facere officiis aspernatur
          | pariatur dignissimos, culpa laborum. Vitae quae
          | obcaecati cupiditate, ipsam numquam ea.
          | Accusantium, repudiandae.
      .faq__accordion-item
        .faq__accordion-label
          | How can I invite collaborator to platform?
        .faq__accordion-content
          | After creating your account you will have an
          | oppurtunity to create your first project that
          | will be associated withthe collaborators e-mail.
          | An invitation  will be sent automatically. Then,
          | invited user will have to confirm his account by
          | e-mail and finish userd onboarding.
      .faq__accordion-item
        .faq__accordion-label
          | Can I upgrade my plan?
        .faq__accordion-content
          | Lorem ipsum dolor sit amet consectetur, adipisicing
          | elit. Quibusdam nesciunt officiis sed. Reiciendis
          | eveniet beatae quos facere officiis aspernatur
          | pariatur dignissimos, culpa laborum. Vitae quae
          | obcaecati cupiditate, ipsam numquam ea.
          | Accusantium, repudiandae.
      .faq__accordion-item
        .faq__accordion-label
          | Can I cancel my plan at anytime?
        .faq__accordion-content
          | Lorem ipsum dolor sit amet consectetur, adipisicing
          | elit. Quibusdam nesciunt officiis sed. Reiciendis
          | eveniet beatae quos facere officiis aspernatur
          | pariatur dignissimos, culpa laborum. Vitae quae
          | obcaecati cupiditate, ipsam numquam ea.
          | Accusantium, repudiandae.
