include ../btn/btn.pug

section.join-block
  .container
    .join-block__body
      .join-block__block
        .join-block__row
          .join-block__content
            h2.h2-title.join-block__title
              | Join 100 Compannies who boost their
              | business with Product
            +btn('Get This', 'white')(href='#')
          img.join-block__pic(src='@img/join-block-pic.png', alt='Statistics')
