section.why
  .container
    h2.h2-title.why__title
      | Why Choose Product?
    ul.why__features
      li.why__item
        +icon('icon-with-cursor', 'multi', 50, 50)
        h4.why__feature-name Special Business
        p.why__feature-descr
          | Product helps you see how many more days
          | you need to work to reach your financial
          | goal for the month and year.
      li.why__item
        +icon('icon-with-result', 'multi', 50, 50)
        h4.why__feature-name Instant Result
        p.why__feature-descr
          | Product helps you see how many more days
          | you need to work to reach your financial
          | goal for the month and year.
      li.why__item
        +icon('icon-with-heart', 'multi', 50, 50)
        h4.why__feature-name Fastest way to organize
        p.why__feature-descr
          | Product helps you see how many more days
          | you need to work to reach your financial
          | goal for the month and year.
