.container {
  max-width: $container-width;
  margin: 0px auto;
  padding: 0px $container-offset;

  @media (max-width: $container-width) {
    max-width: 1247.98px;
  }

  @media (max-width: $breakpoint1248) {
    max-width: 1023.98px;
  }

  @media (max-width: $breakpoint1024) {
    max-width: 766.98px;
  }

  @media (max-width: $breakpoint768) {
    max-width: none;
  }
}
