section.clients
  .container
    h1.h1-title.clients__title Our clients
    ul.clients__icons
      li.clients__icon
        a(href='#', target='_blank')
          img(src='@img/client-logos/airbnb.svg', alt='airbnb')
      li.clients__icon
        a(href='#', target='_blank')
          img(src='@img/client-logos/google.svg', alt='Google')
      li.clients__icon
        a(href='#', target='_blank')
          img(src='@img/client-logos/microsoft.svg', alt='Microsoft')
      li.clients__icon
        a(href='#', target='_blank')
          img(src='@img/client-logos/fedex.svg', alt='FedEx')
