section.reviews
  .container
    .reviews__header
      h2.h2-title.reviews__title What Clients Say
      p.reviews__descr
        | Problems trying to resolve the conflict between
        | <br> the two major realms of Classical physics:
        | Newtonian mechanics
    .reviews__row
      .reviews__item.review
        .review__rating
          +icon('star', 'mono', 18, 18)(class='star')
          +icon('star', 'mono', 18, 18)(class='star')
          +icon('star', 'mono', 18, 18)(class='star')
          +icon('star', 'mono', 18, 18)(class='star')
          +icon('star', 'mono', 18, 18)(class='star')
        p.review__text
          | Product helps you see how many more days you
          | need to work to reach your financial goal.
        .review__author
          img(src='@img/review-author-avatars/pic1.png', alt='Wahid Ari')
          .review__author-info
            h6.review__name Wahid Ari
            span.review__job-title Designer

      .reviews__item.review
        .review__rating
          +icon('star', 'mono', 18, 18)(class='star')
          +icon('star', 'mono', 18, 18)(class='star')
          +icon('star', 'mono', 18, 18)(class='star')
          +icon('star', 'mono', 18, 18)(class='star')
          +icon('star', 'mono', 18, 18)(class='star star--unpainted')
        p.review__text
          | Product helps you see how many more days you
          | need to work to reach your financial goal.
        .review__author
          img(src='@img/review-author-avatars/pic2.png', alt='Wahid Ari')
          .review__author-info
            h6.review__name John Doe
            span.review__job-title Front-end

      .reviews__item.review
        .review__rating
          +icon('star', 'mono', 18, 18)(class='star')
          +icon('star', 'mono', 18, 18)(class='star')
          +icon('star', 'mono', 18, 18)(class='star')
          +icon('star', 'mono', 18, 18)(class='star')
          +icon('star', 'mono', 18, 18)(class='star star--unpainted')
        p.review__text
          | Product helps you see how many more days you
          | need to work to reach your financial goal.
        .review__author
          img(src='@img/review-author-avatars/pic3.png', alt='Wahid Ari')
          .review__author-info
            h6.review__name Arid Wahie
            span.review__job-title Analysis

