@font-face {
  font-weight: 700;
  font-family: Inter;
  font-style: normal;
  src: url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff') format('woff'), url('../fonts/Inter-Bold.ttf') format('ttf');
  font-display: swap;
}
@font-face {
  font-weight: 500;
  font-family: Inter;
  font-style: normal;
  src: url('../fonts/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter-Medium.woff') format('woff'), url('../fonts/Inter-Medium.ttf') format('ttf');
  font-display: swap;
}
@font-face {
  font-weight: 600;
  font-family: Montserrat;
  font-style: normal;
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat-SemiBold.ttf') format('ttf');
  font-display: swap;
}
@font-face {
  font-weight: 600;
  font-family: Poppins;
  font-style: normal;
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('../fonts/Poppins-SemiBold.woff') format('woff'),
    url('../fonts/Poppins-SemiBold.ttf') format('ttf');
  font-display: swap;
}
@font-face {
  font-weight: 400;
  font-family: ProximaNova;
  font-style: normal;
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('ttf');
  font-display: swap;
}
@font-face {
  font-weight: 500;
  font-family: Roboto;
  font-style: normal;
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.ttf') format('ttf');
  font-display: swap;
}
@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('ttf');
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-family: Poppins;
  font-style: normal;
  src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins-Bold.woff') format('woff'), url('../fonts/Poppins-Bold.ttf') format('ttf');
  font-display: swap;
}
@font-face {
  font-weight: 500;
  font-family: Poppins;
  font-style: normal;
  src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
    url('../fonts/Poppins-Medium.woff') format('woff'),
    url('../fonts/Poppins-Medium.ttf') format('ttf');
  font-display: swap;
}
@font-face {
  font-weight: 400;
  font-family: Poppins;
  font-style: normal;
  src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('ttf');
  font-display: swap;
}
