:root {
  --section-gradient-bottom-lighten: linear-gradient(180deg, hsl(0deg 0% 93%), hsl(0deg 0% 88%));
  --section-gradient-bottom: linear-gradient(180deg, hsl(0deg 0% 100%), hsl(0deg 0% 88%));
  --section-gradient-top: linear-gradient(180deg, hsl(0deg 0% 88%), hsl(0deg 0% 100%));
}

body {
  --text-color: hsl(200deg 29% 19%);
  --body-bg: hsl(0deg 0% 100%);
}

.header {
  --background: hsl(0deg 0% 100%);
  --btn-background-darken: hsl(0deg 0% 97%);
}

.main-nav {
  --background: hsl(0deg 0% 100%);
  --text-color: hsl(199deg 26% 16%);
}

.burger {
  --color: hsl(207deg 58% 21%);
}

.logo {
  --text-color: hsl(207deg 58% 21%);
}

.btn {
  --transparent-text-color: hsl(207deg 58% 21%);
  --transparent-text-color-hover: hsl(199deg 26% 16%);
}

.hero {
  --background: hsl(0deg 0% 93%);
}

.post {
  --border-color: hsl(0deg 0% 69%);
  --body-background: rgb(0 0 0 / 0%);
  --text-color: hsl(200deg 29% 19%);
}

.why {
  --background: hsl(0deg 0% 96%);
}

.review {
  --background: rgb(0 0 0 / 0%);
}

.offers {
  --text-color: hsl(0deg 0% 0%);
}

.promo {
  --placeholder-color: hsl(200deg 29% 19%);
}
