section.capabilities
  .container
    .capabilities__row
      .capabilities__content
        h4.h4-title.capabilities__label Effortless Validation for
        h3.h3-title.capabilities__name Management
        p.capabilities__descr
          | The Myspace page defines the individual, his
          | or her characteristics, traits, personal choices
          | and the overall personality of the person.
        .capabilities__feature-section
          h5.h5-title.capabilities__feature-name  Accessory makers
          p
            | While most people enjoy casino gambling, sports
            | betting, lottery and bingo playing for the fun.
        .capabilities__feature-section
          h5.h5-title.capabilities__feature-name Alterationists
          p
            | If you are looking for a new way to promote your
            | business that won&#39;t cost you more money.
      img.capabilities__pic(src='@img/capabilities/pic1.svg', alt='Management')
    .capabilities__row
      img.capabilities__pic(src='@img/capabilities/pic2.svg', alt='Customer support')
      .capabilities__content
        h4.h4-title.capabilities__label Easier decision making for
        h3.h3-title.capabilities__name Customer support
        p.capabilities__descr
          | The Myspace page defines the individual, his or
          | her characteristics, traits, personal choices and
          | the overall personality of the person.
        ul.capabilities__list
          li.capabilities__item
            img(src='@img/checkboxes/orange.svg', alt='Checkbox')
            p
              | Never worry about overpaying for your energy again.
          li.capabilities__item
            img(src='@img/checkboxes/red.svg', alt='Checkbox')
            p
              | We will only switch you to energy companies that
              | we trust and will treat you right.
          li.capabilities__item
            img(src='@img/checkboxes/blue.svg', alt='Checkbox')
            p
              | We track the markets daily and know where
              | the savings are.
    .capabilities__row
      .capabilities__content
        h4.h4-title.capabilities__label Optimisation for
        h3.h3-title.capabilities__name Collaborative
        p.capabilities__descr
          | Few would argue that, despite the advancements of
          | feminism over the past three decades, women still
          | face a double standard when it comes to their behavior.
        .capabilities__feature-section
          h5.h5-title.capabilities__feature-name Accessory makers
          p
            | While most people enjoy casino gambling, sports
            | betting, lottery and bingo playing for the fun
        .capabilities__feature-section
          h5.h5-title.capabilities__feature-name Alterationists
          p
            | If you are looking for a new way to promote your
            | business that won&#39;t cost you more money,
      img.capabilities__pic(src='@img/capabilities/pic3.svg', alt='Collaborative')
