section.alongside
  .container
    h2.h2-title.alongside__title
      | Product is being used with great effects alongside:
    .alongside__row
      img.alongside__pic(src='@img/devices.svg', alt='Devices')
      .alongside__content
        .alongside__section
          h4.alongside__name
            +icon('enterpreneur-icon', 'multi')
            | Entrepreneur
          p.alongside__descr
            | Product is a great way to help medium and
            | samall enterprise owners achieve their goals
        .alongside__section
          h4.alongside__name
            +icon('accountants-icon', 'multi')
            | Accountants
          p.alongside__descr
            | Whether you are working on contract with clients,
            | or on other key accounting documents, Product is
            | for you
        .alongside__section
          h4.alongside__name
            +icon('universities-icon', 'multi')
            | Universities
          p.alongside__descr
            | Organize university projects and have documents
            | easily graded online with Product
