section.enterprise
  .container
    h3.enterprise__label Enterprise
    h2.h2-title.enterprise__title
      | Are you interested  in a custom-tailored plan?
    p.enterprise__descr
      | Product is a set of advanced features for
      | really large teams with projects.
    +btn('Get in touch with us', 'montserrat')(href='#')
