section.offers
  .container
    h2.h2-title.offers__title
      | Join thousand of other who have <br>
      | already received offers.
    ul.offers__row
      li.offers__item
        img.offers__icon(src='@img/offers-icons/business-icon.svg', alt='Business')
        h5.offers__name Business
        ul.offers__list
          li.offers__feature
            span Cash flow
          li.offers__feature
            span Asset backed
          li.offers__feature
            span Receivables finance
        a.offers__link(href='#')
          | Find the best business product
      li.offers__item
        img.offers__icon(src='@img/offers-icons/enterprise-icon.svg', alt='Enterprise')
        h5.offers__name Enterprise
        ul.offers__list
          li.offers__feature
            span Site Acquisition
          li.offers__feature
            span Bridge
          li.offers__feature
            span Development Financing
        a.offers__link(href='#')
          | Find the best business product
